[mysqld]
log-bin
datadir=/data/mysql
socket=/data/mysql/mysql.sock                         
                       
log-error=/data/mysql/mysql.log
pid-file=/data/mysql/mysql.pid
[client]
socket=/data/mysql/mysql.sock
