resource nfs {  ##资源名字，必须与资源文件名一致
  disk {{ nfs.ha.drbd_disk }};  ##要存储的分区,这个硬盘不需要分区格式化。
  device /dev/drbd0;  ##一共有16个设备，编号为0-15
  meta-disk internal;

  on nfs-server1 {  ##节点名称，地址
    address {{ groups['nfs-server'][0]}}:7789;
  }

  on nfs-server2 {  ##节点名称，地址
    address {{ groups['nfs-server'][1]}}:7789;
  }
}
