#!/bin/bash
#
webhookapi='{{ nfs.ha.webhook }}'
env_label='{{ nfs.ha.env_label }}'
notify() {
    mailsubject="$(hostname) to be $1, vip floating"
    mailbody="$(date +'%F %T'): vrrp transition, $(hostname) changed to be $1"
    curl "$webhookapi" \
          -H 'Content-Type: application/json' \
          -d "{
                  \"msgtype\": \"markdown\",
                  \"markdown\": {
                      \"content\": \"## $mailsubject\n
                                 >**告警级别**: High 
                                 >**告警主机**: $env_label
                                 >**告警详情**: $mailbody
                                 >**告警状态**: Firing
                                 >**触发时间**: `date  +'%Y-%m-%d %T'`\"
                  }
              }" &> /dev/null
}
case $1 in
master)
    notify master
    ;;
backup)
    notify backup
    ;;
fault)
    notify fault
    ;;
*)
    echo "Usage: $(basename $0) {master|backup|fault}"
    exit 1
    ;;
esac

